.home-container {
  background-image: url('https://t3.ftcdn.net/jpg/04/29/35/62/360_F_429356296_CVQ5LkC6Pl55kUNLqLisVKgTw9vjyif1.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn-primary {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
